# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
#.vscode/

# Flutter/Dart/Pub related
/pubspec.lock
**/doc/api/
.dart_tool/
.flutter-plugins-dependencies
/build/
/coverage/

# Android
android/.gradle/
android/local.properties

# iOS
.build/
.swiftpm/
ios/.symlinks/

# Internal docs
/flutter-rasp-skill

# Claude
.claude/